
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminLayout</title>
    <!-- Bootstrap CSS -->
    <link href="~/NiceAdmin/css/bootstrap.min.css" rel="stylesheet" />
    <!-- bootstrap theme -->
    <link href="~/NiceAdmin/css/bootstrap-theme.css" rel="stylesheet" />
    <!--external css-->
    <!-- font icon -->
    <link href="~/NiceAdmin/css/elegant-icons-style.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/font-awesome.min.css" rel="stylesheet" />
    <!-- full calendar css-->
    <link href="~/NiceAdmin/assets/fullcalendar/fullcalendar/bootstrap-fullcalendar.css" rel="stylesheet" />
    <link href="~/NiceAdmin/assets/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="~/NiceAdmin/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- owl carousel -->
    <link href="~/NiceAdmin/css/owl.carousel.css" rel="stylesheet" type="text/css" />
    <link href="~/NiceAdmin/css/jquery-jvectormap-1.2.2.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link href="~/NiceAdmin/css/fullcalendar.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/widgets.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/style.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/style-responsive.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/xcharts.min.css" rel="stylesheet" />
    <link href="~/NiceAdmin/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
    @* Css Người dùng *@
    <link href="~/Content/cssAdmin/CssLayoutAdmin.css" rel="stylesheet" />
    @* Icon  *@
    <link href="~/Content/css/web-fonts-with-css/css/fontawesome.min.css" rel="stylesheet" />

</head>
<body>
    <!-- container section start -->
    <section id="container" class="">


        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="http://localhost:57502/Admin/QuanLyBanAn" class="logo">HOME<span class="lite">QUẢN TRỊ</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Search" type="text">
                        </form>
                    </li>
                </ul>
                <!--  search form end -->
            </div>


        </header>
        <!--header end-->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse ">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu">
                    <li class="active">
                        <a class="" href="http://localhost:57502/Admin/QuanLyBanAn">
                            <i class="icon_house_alt"></i>
                            <span>Quản lí bàn ăn</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;" class="">
                            <i class="icon_document_alt"></i>
                            <span>Quản lí món ăn</span>
                            <span class="menu-arrow arrow_carrot-right"></span>
                        </a>
                        <ul class="sub">
                            <li><a class="" href="http://localhost:57502/Admin/Banh">Các món bánh</a></li>
                            <li><a class="" href="http://localhost:57502/Admin/Nem">Các món nem</a></li>
                            <li><a class="" href="http://localhost:57502/Admin/Che">Các món chè</a></li>
                            <li><a class="" href="http://localhost:57502/Admin/SuaChua">Sữa chua, caramen</a></li>
                            <li><a class="" href="http://localhost:57502/Admin/MonSong">Các món sống</a></li>
                            <li><a class="" href="http://localhost:57502/Admin">Tất cả</a></li>
                        </ul>
                    </li>

                    @*<li class="sub-menu">
                            <a href="http://localhost:57502/Admin" class="">
                                <i class="icon_document_alt"></i>
                                <span>Quản lí món ăn</span>

                            </a>
                        </li>*@
                    <li class="sub-menu">
                        <a href="http://localhost:57502/Admin/QuanLiHoaDon" class="">
                            <i class="icon_table"></i>
                            <span>Quản lí hóa đơn</span>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <!--main content start-->
        <section id="main-content">
            <section class="wrapper">
                @RenderBody()
            </section>
            <div class="text-right">
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </section>
        <!--main content end-->
    </section>
    <!-- container section start -->
    <!-- javascripts -->
    <script src="~/NiceAdmin/js/jquery.js"></script>
    <script src="~/NiceAdmin/js/jquery-ui-1.10.4.min.js"></script>
    <script src="~/NiceAdmin/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/NiceAdmin/js/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="~/NiceAdmin/js/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="~/NiceAdmin/js/jquery.scrollTo.min.js"></script>
    <script src="~/NiceAdmin/js/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="~/Content/assets/jquery-knob/js/jquery.knob.js"></script>
    <script src="~/NiceAdmin/js/jquery.sparkline.js" type="text/javascript"></script>
    <script src="~/Content/assets/jquery-easy-pie-chart/jquery.easy-pie-chart.js"></script>
    <script src="~/NiceAdmin/js/owl.carousel.js"></script>
    <!-- jQuery full calendar -->
    <
    <script src="~/NiceAdmin/js/fullcalendar.min.js"></script>
    <!-- Full Google Calendar - Calendar -->
    <script src="~/Content/assets/fullcalendar/fullcalendar/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="~/NiceAdmin/js/calendar-custom.js"></script>
    <script src="~/NiceAdmin/js/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="~/NiceAdmin/js/jquery.customSelect.min.js"></script>
    <script src="~/Content/assets/chart-master/Chart.js"></script>

    <!--custome script for all page-->
    <script src="~/NiceAdmin/js/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="~/NiceAdmin/js/sparkline-chart.js"></script>
    <script src="~/NiceAdmin/js/easy-pie-chart.js"></script>
    <script src="~/NiceAdmin/js/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/NiceAdmin/js/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/NiceAdmin/js/xcharts.min.js"></script>
    <script src="~/NiceAdmin/js/jquery.autosize.min.js"></script>
    <script src="~/NiceAdmin/js/jquery.placeholder.min.js"></script>
    <script src="~/NiceAdmin/js/gdp-data.js"></script>
    <script src="~/NiceAdmin/js/morris.min.js"></script>
    <script src="~/NiceAdmin/js/sparklines.js"></script>
    <script src="~/NiceAdmin/js/charts.js"></script>
    <script src="~/NiceAdmin/js/jquery.slimscroll.min.js"></script>
    <script>
        //knob
        $(function () {
            $(".knob").knob({
                'draw': function () {
                    $(this.i).val(this.cv + '%')
                }
            })
        });

        //carousel
        $(document).ready(function () {
            $("#owl-slider").owlCarousel({
                navigation: true,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true

            });
        });

        //custom select box

        $(function () {
            $('select.styled').customSelect();
        });

        /* ---------- Map ---------- */
        $(function () {
            $('#map').vectorMap({
                map: 'world_mill_en',
                series: {
                    regions: [{
                        values: gdpData,
                        scale: ['#000', '#000'],
                        normalizeFunction: 'polynomial'
                    }]
                },
                backgroundColor: '#eef3f7',
                onLabelShow: function (e, el, code) {
                    el.html(el.html() + ' (GDP - ' + gdpData[code] + ')');
                }
            });
        });
    </script>

</body>

</html>
