body {
}
table
{
    width:100%;
    

}
td
{
    border: solid 1px rgba(0,0,0,0.1);
    text-align:center;
}
img
{
    margin: 0 0 0 0;
    padding: 0 0 0 0 ;
     width:50px;
     height:50px;
}
td.TongBangHoaDon
{
    border: none;
    font-weight:bold; 
    font-size: 20px;
}